<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <style>
    .box {
      padding: 100px 0;
      width: 200px;
      background-color: aquamarine;
      text-align: center;
      margin: 20px;
      display: inline-block;
      border: 1px solid;
    }
  </style>
  <body>
    <h1>My vue app</h1>
    <div id="app">
      <div v-if="showInfo">
        <p>{{ title }}</p>
        <span>{{ author }}</span>
        <h3>{{ age }}</h3>
      </div>

      <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>

      <div @click="title='Something else'">Change title</div>
      <button @click="changeTitle('New title')">Update title</button>
      <button @click="changeInfo">
        {{ showInfo ? 'Hide info' : 'Show info' }}
      </button>
      <br />
      <div class="box" @mouseover="handleEvent">mouseover</div>
      <div class="box" @mouseleave="handleEvent">mouseleave</div>
      <div class="box" @dblclick="handleEvent">doubleclick</div>
      <div class="box" @mousemove="handleMousemove">poisiton - {{ x }} {{ y }}</div>
      <br/>

      <p>{{books[0].title}} and {{books[0].author}}</p>
      <p>{{books[1].title}} and {{books[1].author}}</p>

      <ul>
        <li v-for="item in books">
          {{item.title}} and {{item.author}}
        </li>
      </ul>

      <a v-bind:href="url">Website</a>

    </div>
    <script src="app.js"></script>
  </body>
</html>
